<%= form_for(@customer, html: {
  class: "form-horizontal"
}) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :firstname  class: 'control-label'%><br />
    <div class="controls">
     <%= f.text_field :firstname %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :lastname  class: 'control-label'%><br />
   <div class="controls">
    <%= f.text_field :lastname %>
  </div>
  </div>
    <div class="control-group">
    <%= f.label :number  class: 'control-label'%><br />
   <div class="controls">
    <%= f.text_field :number %>
  </div>
  </div>
  <div class="control-group">
    <%= f.label :request  class: 'control-label'%><br />
   <div class="controls">
    <%= f.text_field :request %>
  </div>
  </div>
    <div class="control-group">
    <%= f.label :calltime  class: 'control-label'%><br />
   <div class="controls">
    <%= f.check_box :calltime, 'AM', :checked =>true %> AM
    <%= f.check_box :calltime, 'PM' %> PM
  </div>
  </div>
    <div class="control-group">
    <%= f.label :complaint class: 'control-label'%><br />
   <div class="controls">
    <%= f.text_field :complaint %>
  </div>
  </div>
   <div class="control-group">
    <%= label :department %>
       <div class="controls">
    <%= f.radio_button :department, 'SEAS', :checked => true %> SEAS
    <%= f.radio_button :department, 'SAS' %> SAS
    <%= f.radio_button :department, 'Wharton' %> Wharton
    <%= f.radio_button :department, 'Nursing' %> Nursing
  </div>
  </div>
 
  <div class="form-actions">
    <%= f.submit class: "btn btn-primary"%>
  </div>
<% end %>
